@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
:root{
    --cms-ex-light-dark:#1d2327;
    --cms-ex-hover-light:#2a3238;
    --cms-ex-hover-logo:#326e99;
    --csm-ex-extra-small:20px;
    --cms-ex-icons-color:#a7aaad;
}
.cursor-pointer{
    cursor: pointer;
}
.nav-logo-font{
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
   
}
.extra-small{
    font-size: var(--csm-ex-extra-small);
}
.sidebar{
    background-color: var(--cms-ex-light-dark);
    height: 100vh;
    width: 10%;
}
.hover-logo-text:hover{
    color: var(--cms-ex-hover-logo) !important;
}
.admin-top-nav{
background-color: var(--cms-ex-light-dark);
position: fixed;
width: 100%;
color: var(--cms-ex-icons-color);
}
.icons-color{
color: var(--cms-ex-icons-color);
}
.hover-light:hover{
    background-color: var(--cms-ex-hover-light);
}