<div class="sidebar pt-5">
    <div class="text-white hover-light py-2 hover-logo-text cursor-pointer">
       <span class="px-2 icons-color"><i class="bi bi-speedometer2"></i></span> Dashboard
    </div>
    <div class="text-white hover-light py-2 hover-logo-text cursor-pointer">
       <span class="px-2 icons-color"><i class="bi bi-file-earmark-fill"></i></span> Pages
    </div>
</div>