
<div class="admin-top-nav d-flex justify-content-between">
    <div>
        <span class="nav-logo-font  px-2 py-1  cursor-pointer hover-light extra-small">
            cs
        </span>
        <!-- Main Home Page Link That Switch Between The Dashboard And Home Page -->
        <span class="hover-logo-text hover-light py-1 px-2  my-1 cursor-pointer">
            <span class="px-2 ">
                <i class="bi bi-house-door-fill "></i>
            </span>
            {Name Of the page }
        </span>
        <!-- /Main Home Page Link That Switch Between The Dashboard And Home Page -->
    </div>
   <div class="hover-light cursor-pointer hover-logo-text px-2">
    <span>
        <% if(user){ %>
      Hello,<%= user.username %> 
      <% } else{ %>
        Hello ,Gust <% } %>
    </span>
    <span>
        <img src="/images/user-mini-avatar.png" alt="" width="16" height="16">
    </span>
   </div>
   

</div>